<a href="https://colab.research.google.com/github/Yab112/Competitive-Programming/blob/main/yab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

poke = pd.read_csv('drive/My Drive/yab/Pokemon.csv' )
poke.tail()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
print(poke.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [ ]:
print(poke[2:1])

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [ ]:
print(poke.Name)

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

##**returnig row's using foreloop(iterrows)**

In [ ]:
for index,row in poke.iterrows():
  print(index,row)

Streaming output truncated to the last 5000 lines.
Legendary        False
Name: 442, dtype: object
443 #                   398
Name          Staraptor
Type 1           Normal
Type 2           Flying
Total               485
HP                   85
Attack              120
Defense              70
Sp. Atk              50
Sp. Def              60
Speed               100
Generation            4
Legendary         False
Name: 443, dtype: object
444 #                399
Name          Bidoof
Type 1        Normal
Type 2           NaN
Total            250
HP                59
Attack            45
Defense           40
Sp. Atk           35
Sp. Def           40
Speed             31
Generation         4
Legendary      False
Name: 444, dtype: object
445 #                 400
Name          Bibarel
Type 1         Normal
Type 2          Water
Total             410
HP                 79
Attack             85
Defense            60
Sp. Atk            55
Sp. Def            60
Speed              71
Generation          4
Legendary       False
Name: 445, dtype: object
446 #                   401
Name          Kricketot
Type 1              Bug
Type 2              NaN
Total               194
HP                   37
Attack               25
Defense              41
Sp. Atk              25
Sp. Def              41
Speed                25
Generation            4
Legendary         False
Name: 446, dtype: object
447 #                    402
Name          Kricketune
Type 1               Bug
Type 2               NaN
Total                384
HP                    77
Attack                85
Defense               51
Sp. Atk               55
Sp. Def               51
Speed                 65
Generation             4
Legendary          False
Name: 447, dtype: object
448 #                  403
Name             Shinx
Type 1        Electric
Type 2             NaN
Total              263
HP                  45
Attack              65
Defense             34
Sp. Atk             40
Sp. Def             34
Speed               45
Generation           4
Legendary        False
Name: 448, dtype: object
449 #                  404
Name             Luxio
Type 1        Electric
Type 2             NaN
Total              363
HP                  60
Attack              85
Defense             49
Sp. Atk             60
Sp. Def             49
Speed               60
Generation           4
Legendary        False
Name: 449, dtype: object
450 #                  405
Name            Luxray
Type 1        Electric
Type 2             NaN
Total              523
HP                  80
Attack             120
Defense             79
Sp. Atk             95
Sp. Def             79
Speed               70
Generation           4
Legendary        False
Name: 450, dtype: object
451 #                406
Name           Budew
Type 1         Grass
Type 2        Poison
Total            280
HP                40
Attack            30
Defense           35
Sp. Atk           50
Sp. Def           70
Speed             55
Generation         4
Legendary      False
Name: 451, dtype: object
452 #                  407
Name          Roserade
Type 1           Grass
Type 2          Poison
Total              515
HP                  60
Attack              70
Defense             65
Sp. Atk            125
Sp. Def            105
Speed               90
Generation           4
Legendary        False
Name: 452, dtype: object
453 #                  408
Name          Cranidos
Type 1            Rock
Type 2             NaN
Total              350
HP                  67
Attack             125
Defense             40
Sp. Atk             30
Sp. Def             30
Speed               58
Generation           4
Legendary        False
Name: 453, dtype: object
454 #                   409
Name          Rampardos
Type 1             Rock
Type 2              NaN
Total               495
HP                   97
Attack              165
Defense              60
Sp. Atk              65
Sp. Def              50
Speed                58
Generation            4
Legendary         False
Name: 454, dtype: object
455 #                  410
Name          Shieldon
Type 1            Rock
Type 2           Steel
Total              350
HP                  30
Attack              42
Defense            118
Sp. Atk             42
Sp. Def             88
Speed               30
Generation           4
Legendary        False
Name: 455, dtype: object
456 #                   411
Name          Bastiodon
Type 1             Rock
Type 2            Steel
Total               495
HP                   60
Attack               52
Defense             168
Sp. Atk              47
Sp. Def             138
Speed                30
Generation            4
Legendary         False
Name: 456, dtype: object
457 #               412
Name          Burmy
Type 1          Bug
Type 2          NaN
Total           224
HP               40
Attack           29
Defense          45
Sp. Atk          29
Sp. Def          45
Speed            36
Generation        4
Legendary     False
Name: 457, dtype: object
458 #                             413
Name          WormadamPlant Cloak
Type 1                        Bug
Type 2                      Grass
Total                         424
HP                             60
Attack                         59
Defense                        85
Sp. Atk                        79
Sp. Def                       105
Speed                          36
Generation                      4
Legendary                   False
Name: 458, dtype: object
459 #                             413
Name          WormadamSandy Cloak
Type 1                        Bug
Type 2                     Ground
Total                         424
HP                             60
Attack                         79
Defense                       105
Sp. Atk                        59
Sp. Def                        85
Speed                          36
Generation                      4
Legendary                   False
Name: 459, dtype: object
460 #                             413
Name          WormadamTrash Cloak
Type 1                        Bug
Type 2                      Steel
Total                         424
HP                             60
Attack                         69
Defense                        95
Sp. Atk                        69
Sp. Def                        95
Speed                          36
Generation                      4
Legendary                   False
Name: 460, dtype: object
461 #                414
Name          Mothim
Type 1           Bug
Type 2        Flying
Total            424
HP                70
Attack            94
Defense           50
Sp. Atk           94
Sp. Def           50
Speed             66
Generation         4
Legendary      False
Name: 461, dtype: object
462 #                415
Name          Combee
Type 1           Bug
Type 2        Flying
Total            244
HP                30
Attack            30
Defense           42
Sp. Atk           30
Sp. Def           42
Speed             70
Generation         4
Legendary      False
Name: 462, dtype: object
463 #                   416
Name          Vespiquen
Type 1              Bug
Type 2           Flying
Total               474
HP                   70
Attack               80
Defense             102
Sp. Atk              80
Sp. Def             102
Speed                40
Generation            4
Legendary         False
Name: 463, dtype: object
464 #                   417
Name          Pachirisu
Type 1         Electric
Type 2              NaN
Total               405
HP                   60
Attack               45
Defense              70
Sp. Atk              45
Sp. Def              90
Speed                95
Generation            4
Legendary         False
Name: 464, dtype: object
465 #                418
Name          Buizel
Type 1         Water
Type 2           NaN
Total            330
HP                55
Attack            65
Defense           35
Sp. Atk           60
Sp. Def           30
Speed             85
Generation         4
Legendary      False
Name: 465, dtype: object
466 #                  419
Name          Floatzel
Type 1           Water
Type 2             NaN
Total              495
HP                  85
Attack             105
Defense             55
Sp. Atk             85
Sp. Def             50
Speed              115
Generation           4
Legendary        False
Name: 466, dtype: object
467 #                 420
Name          Cherubi
Type 1          Grass
Type 2            NaN
Total             275
HP                 45
Attack             35
Defense            45
Sp. Atk            62
Sp. Def            53
Speed              35
Generation          4
Legendary       False
Name: 467, dtype: object
468 #                 421
Name          Cherrim
Type 1          Grass
Type 2            NaN
Total             450
HP                 70
Attack             60
Defense            70
Sp. Atk            87
Sp. Def            78
Speed              85
Generation          4
Legendary       False
Name: 468, dtype: object
469 #                 422
Name          Shellos
Type 1          Water
Type 2            NaN
Total             325
HP                 76
Attack             48
Defense            48
Sp. Atk            57
Sp. Def            62
Speed              34
Generation          4
Legendary       False
Name: 469, dtype: object
470 #                   423
Name          Gastrodon
Type 1            Water
Type 2           Ground
Total               475
HP                  111
Attack               83
Defense              68
Sp. Atk              92
Sp. Def              82
Speed                39
Generation            4
Legendary         False
Name: 470, dtype: object
471 #                 424
Name          Ambipom
Type 1         Normal
Type 2            NaN
Total             482
HP                 75
Attack            100
Defense            66
Sp. Atk            60
Sp. Def            66
Speed             115
Generation          4
Legendary       False
Name: 471, dtype: object
472 #                  425
Name          Drifloon
Type 1           Ghost
Type 2          Flying
Total              348
HP                  90
Attack              50
Defense             34
Sp. Atk             60
Sp. Def             44
Speed               70
Generation           4
Legendary        False
Name: 472, dtype: object
473 #                  426
Name          Drifblim
Type 1           Ghost
Type 2          Flying
Total              498
HP                 150
Attack              80
Defense             44
Sp. Atk             90
Sp. Def             54
Speed               80
Generation           4
Legendary        False
Name: 473, dtype: object
474 #                 427
Name          Buneary
Type 1         Normal
Type 2            NaN
Total             350
HP                 55
Attack             66
Defense            44
Sp. Atk            44
Sp. Def            56
Speed              85
Generation          4
Legendary       False
Name: 474, dtype: object
475 #                 428
Name          Lopunny
Type 1         Normal
Type 2            NaN
Total             480
HP                 65
Attack             76
Defense            84
Sp. Atk            54
Sp. Def            96
Speed             105
Generation          4
Legendary       False
Name: 475, dtype: object
476 #                             428
Name          LopunnyMega Lopunny
Type 1                     Normal
Type 2                   Fighting
Total                         580
HP                             65
Attack                        136
Defense                        94
Sp. Atk                        54
Sp. Def                        96
Speed                         135
Generation                      4
Legendary                   False
Name: 476, dtype: object
477 #                   429
Name          Mismagius
Type 1            Ghost
Type 2              NaN
Total               495
HP                   60
Attack               60
Defense              60
Sp. Atk             105
Sp. Def             105
Speed               105
Generation            4
Legendary         False
Name: 477, dtype: object
478 #                   430
Name          Honchkrow
Type 1             Dark
Type 2           Flying
Total               505
HP                  100
Attack              125
Defense              52
Sp. Atk             105
Sp. Def              52
Speed                71
Generation            4
Legendary         False
Name: 478, dtype: object
479 #                 431
Name          Glameow
Type 1         Normal
Type 2            NaN
Total             310
HP                 49
Attack             55
Defense            42
Sp. Atk            42
Sp. Def            37
Speed              85
Generation          4
Legendary       False
Name: 479, dtype: object
480 #                 432
Name          Purugly
Type 1         Normal
Type 2            NaN
Total             452
HP                 71
Attack             82
Defense            64
Sp. Atk            64
Sp. Def            59
Speed             112
Generation          4
Legendary       False
Name: 480, dtype: object
481 #                   433
Name          Chingling
Type 1          Psychic
Type 2              NaN
Total               285
HP                   45
Attack               30
Defense              50
Sp. Atk              65
Sp. Def              50
Speed                45
Generation            4
Legendary         False
Name: 481, dtype: object
482 #                434
Name          Stunky
Type 1        Poison
Type 2          Dark
Total            329
HP                63
Attack            63
Defense           47
Sp. Atk           41
Sp. Def           41
Speed             74
Generation         4
Legendary      False
Name: 482, dtype: object
483 #                  435
Name          Skuntank
Type 1          Poison
Type 2            Dark
Total              479
HP                 103
Attack              93
Defense             67
Sp. Atk             71
Sp. Def             61
Speed               84
Generation           4
Legendary        False
Name: 483, dtype: object
484 #                 436
Name          Bronzor
Type 1          Steel
Type 2        Psychic
Total             300
HP                 57
Attack             24
Defense            86
Sp. Atk            24
Sp. Def            86
Speed              23
Generation          4
Legendary       False
Name: 484, dtype: object
485 #                  437
Name          Bronzong
Type 1           Steel
Type 2         Psychic
Total              500
HP                  67
Attack              89
Defense            116
Sp. Atk             79
Sp. Def            116
Speed               33
Generation           4
Legendary        False
Name: 485, dtype: object
486 #                438
Name          Bonsly
Type 1          Rock
Type 2           NaN
Total            290
HP                50
Attack            80
Defense           95
Sp. Atk           10
Sp. Def           45
Speed             10
Generation         4
Legendary      False
Name: 486, dtype: object
487 #                  439
Name          Mime Jr.
Type 1         Psychic
Type 2           Fairy
Total              310
HP                  20
Attack              25
Defense             45
Sp. Atk             70
Sp. Def             90
Speed               60
Generation           4
Legendary        False
Name: 487, dtype: object
488 #                 440
Name          Happiny
Type 1         Normal
Type 2            NaN
Total             220
HP                100
Attack              5
Defense             5
Sp. Atk            15
Sp. Def            65
Speed              30
Generation          4
Legendary       False
Name: 488, dtype: object
489 #                441
Name          Chatot
Type 1        Normal
Type 2        Flying
Total            411
HP                76
Attack            65
Defense           45
Sp. Atk           92
Sp. Def           42
Speed             91
Generation         4
Legendary      False
Name: 489, dtype: object
490 #                   442
Name          Spiritomb
Type 1            Ghost
Type 2             Dark
Total               485
HP                   50
Attack               92
Defense             108
Sp. Atk              92
Sp. Def             108
Speed                35
Generation            4
Legendary         False
Name: 490, dtype: object
491 #                443
Name           Gible
Type 1        Dragon
Type 2        Ground
Total            300
HP                58
Attack            70
Defense           45
Sp. Atk           40
Sp. Def           45
Speed             42
Generation         4
Legendary      False
Name: 491, dtype: object
492 #                444
Name          Gabite
Type 1        Dragon
Type 2        Ground
Total            410
HP                68
Attack            90
Defense           65
Sp. Atk           50
Sp. Def           55
Speed             82
Generation         4
Legendary      False
Name: 492, dtype: object
493 #                  445
Name          Garchomp
Type 1          Dragon
Type 2          Ground
Total              600
HP                 108
Attack             130
Defense             95
Sp. Atk             80
Sp. Def             85
Speed              102
Generation           4
Legendary        False
Name: 493, dtype: object
494 #                               445
Name          GarchompMega Garchomp
Type 1                       Dragon
Type 2                       Ground
Total                           700
HP                              108
Attack                          170
Defense                         115
Sp. Atk                         120
Sp. Def                          95
Speed                            92
Generation                        4
Legendary                     False
Name: 494, dtype: object
495 #                  446
Name          Munchlax
Type 1          Normal
Type 2             NaN
Total              390
HP                 135
Attack              85
Defense             40
Sp. Atk             40
Sp. Def             85
Speed                5
Generation           4
Legendary        False
Name: 495, dtype: object
496 #                  447
Name             Riolu
Type 1        Fighting
Type 2             NaN
Total              285
HP                  40
Attack              70
Defense             40
Sp. Atk             35
Sp. Def             40
Speed               60
Generation           4
Legendary        False
Name: 496, dtype: object
497 #                  448
Name           Lucario
Type 1        Fighting
Type 2           Steel
Total              525
HP                  70
Attack             110
Defense             70
Sp. Atk            115
Sp. Def             70
Speed               90
Generation           4
Legendary        False
Name: 497, dtype: object
498 #                             448
Name          LucarioMega Lucario
Type 1                   Fighting
Type 2                      Steel
Total                         625
HP                             70
Attack                        145
Defense                        88
Sp. Atk                       140
Sp. Def                        70
Speed                         112
Generation                      4
Legendary                   False
Name: 498, dtype: object
499 #                    449
Name          Hippopotas
Type 1            Ground
Type 2               NaN
Total                330
HP                    68
Attack                72
Defense               78
Sp. Atk               38
Sp. Def               42
Speed                 32
Generation             4
Legendary          False
Name: 499, dtype: object
500 #                   450
Name          Hippowdon
Type 1           Ground
Type 2              NaN
Total               525
HP                  108
Attack              112
Defense             118
Sp. Atk              68
Sp. Def              72
Speed                47
Generation            4
Legendary         False
Name: 500, dtype: object
501 #                 451
Name          Skorupi
Type 1         Poison
Type 2            Bug
Total             330
HP                 40
Attack             50
Defense            90
Sp. Atk            30
Sp. Def            55

In [ ]:
print(poke['Type 1'] == 'Fire')

In [ ]:
for row in poke.itertuples():
  print(getattr(row, "Name"), getattr(row, "Attack"))

Bulbasaur 49
Ivysaur 62
Venusaur 82
VenusaurMega Venusaur 100
Charmander 52
Charmeleon 64
Charizard 84
CharizardMega Charizard X 130
CharizardMega Charizard Y 104
Squirtle 48
Wartortle 63
Blastoise 83
BlastoiseMega Blastoise 103
Caterpie 30
Metapod 20
Butterfree 45
Weedle 35
Kakuna 25
Beedrill 90
BeedrillMega Beedrill 150
Pidgey 45
Pidgeotto 60
Pidgeot 80
PidgeotMega Pidgeot 80
Rattata 56
Raticate 81
Spearow 60
Fearow 90
Ekans 60
Arbok 85
Pikachu 55
Raichu 90
Sandshrew 75
Sandslash 100
Nidoran♀ 47
Nidorina 62
Nidoqueen 92
Nidoran♂ 57
Nidorino 72
Nidoking 102
Clefairy 45
Clefable 70
Vulpix 41
Ninetales 76
Jigglypuff 45
Wigglytuff 70
Zubat 45
Golbat 80
Oddish 50
Gloom 65
Vileplume 80
Paras 70
Parasect 95
Venonat 55
Venomoth 65
Diglett 55
Dugtrio 80
Meowth 45
Persian 70
Psyduck 52
Golduck 82
Mankey 80
Primeape 105
Growlithe 70
Arcanine 110
Poliwag 50
Poliwhirl 65
Poliwrath 95
Abra 20
Kadabra 35
Alakazam 50
AlakazamMega Alakazam 50
Machop 80
Machoke 100
Machamp 130
Bellsprout 75
Weepinbell 90
Victreebel 105
Tentacool 40
Tentacruel 70
Geodude 80
Graveler 95
Golem 120
Ponyta 85
Rapidash 100
Slowpoke 65
Slowbro 75
SlowbroMega Slowbro 75
Magnemite 35
Magneton 60
Farfetch'd 65
Doduo 85
Dodrio 110
Seel 45
Dewgong 70
Grimer 80
Muk 105
Shellder 65
Cloyster 95
Gastly 35
Haunter 50
Gengar 65
GengarMega Gengar 65
Onix 45
Drowzee 48
Hypno 73
Krabby 105
Kingler 130
Voltorb 30
Electrode 50
Exeggcute 40
Exeggutor 95
Cubone 50
Marowak 80
Hitmonlee 120
Hitmonchan 105
Lickitung 55
Koffing 65
Weezing 90
Rhyhorn 85
Rhydon 130
Chansey 5
Tangela 55
Kangaskhan 95
KangaskhanMega Kangaskhan 125
Horsea 40
Seadra 65
Goldeen 67
Seaking 92
Staryu 45
Starmie 75
Mr. Mime 45
Scyther 110
Jynx 50
Electabuzz 83
Magmar 95
Pinsir 125
PinsirMega Pinsir 155
Tauros 100
Magikarp 10
Gyarados 125
GyaradosMega Gyarados 155
Lapras 85
Ditto 48
Eevee 55
Vaporeon 65
Jolteon 65
Flareon 130
Porygon 60
Omanyte 40
Omastar 60
Kabuto 80
Kabutops 115
Aerodactyl 105
AerodactylMega Aerodactyl 135
Snorlax 110
Articuno 85
Zapdos 90
Moltres 100
Dratini 64
Dragonair 84
Dragonite 134
Mewtwo 110
MewtwoMega Mewtwo X 190
MewtwoMega Mewtwo Y 150
Mew 100
Chikorita 49
Bayleef 62
Meganium 82
Cyndaquil 52
Quilava 64
Typhlosion 84
Totodile 65
Croconaw 80
Feraligatr 105
Sentret 46
Furret 76
Hoothoot 30
Noctowl 50
Ledyba 20
Ledian 35
Spinarak 60
Ariados 90
Crobat 90
Chinchou 38
Lanturn 58
Pichu 40
Cleffa 25
Igglybuff 30
Togepi 20
Togetic 40
Natu 50
Xatu 75
Mareep 40
Flaaffy 55
Ampharos 75
AmpharosMega Ampharos 95
Bellossom 80
Marill 20
Azumarill 50
Sudowoodo 100
Politoed 75
Hoppip 35
Skiploom 45
Jumpluff 55
Aipom 70
Sunkern 30
Sunflora 75
Yanma 65
Wooper 45
Quagsire 85
Espeon 65
Umbreon 65
Murkrow 85
Slowking 75
Misdreavus 60
Unown 72
Wobbuffet 33
Girafarig 80
Pineco 65
Forretress 90
Dunsparce 70
Gligar 75
Steelix 85
SteelixMega Steelix 125
Snubbull 80
Granbull 120
Qwilfish 95
Scizor 130
ScizorMega Scizor 150
Shuckle 10
Heracross 125
HeracrossMega Heracross 185
Sneasel 95
Teddiursa 80
Ursaring 130
Slugma 40
Magcargo 50
Swinub 50
Piloswine 100
Corsola 55
Remoraid 65
Octillery 105
Delibird 55
Mantine 40
Skarmory 80
Houndour 60
Houndoom 90
HoundoomMega Houndoom 90
Kingdra 95
Phanpy 60
Donphan 120
Porygon2 80
Stantler 95
Smeargle 20
Tyrogue 35
Hitmontop 95
Smoochum 30
Elekid 63
Magby 75
Miltank 80
Blissey 10
Raikou 85
Entei 115
Suicune 75
Larvitar 64
Pupitar 84
Tyranitar 134
TyranitarMega Tyranitar 164
Lugia 90
Ho-oh 130
Celebi 100
Treecko 45
Grovyle 65
Sceptile 85
SceptileMega Sceptile 110
Torchic 60
Combusken 85
Blaziken 120
BlazikenMega Blaziken 160
Mudkip 70
Marshtomp 85
Swampert 110
SwampertMega Swampert 150
Poochyena 55
Mightyena 90
Zigzagoon 30
Linoone 70
Wurmple 45
Silcoon 35
Beautifly 70
Cascoon 35
Dustox 50
Lotad 30
Lombre 50
Ludicolo 70
Seedot 40
Nuzleaf 70
Shiftry 100
Taillow 55
Swellow 85
Wingull 30
Pelipper 50
Ralts 25
Kirlia 35
Gardevoir 65
GardevoirMega Gardevoir 85
Surskit 30
Masquerain 60
Shroomish 40
Breloom 130
Slakoth 60
Vigoroth 80
Slaking 160
Nincada 45
Ninjask 90
Shedinja 90
Whismur 51
Loudred 71
Exploud 91
Makuhita 60
Hariyama 120
Azurill 20
Nosepass 45
Skitty 45
Delcatty 65
Sableye 75
SableyeMega Sableye 85
Mawile 85
MawileMega Mawile 105
Aron 70
Lairon 90
Aggron 110
AggronMega Aggron 140
Meditite 40
Medicham 60
MedichamMega Medicham 100
Electrike 45
Manectric 75
ManectricMega Manectric 75
Plusle 50
Minun 40
Volbeat 73
Illumise 47
Roselia 60
Gulpin 43
Swalot 73
Carvanha 90
Sharpedo 120
SharpedoMega Sharpedo 140
Wailmer 70
Wailord 90
Numel 60
Camerupt 100
CameruptMega Camerupt 120
Torkoal 85
Spoink 25
Grumpig 45
Spinda 60
Trapinch 100
Vibrava 70
Flygon 100
Cacnea 85
Cacturne 115
Swablu 40
Altaria 70
AltariaMega Altaria 110
Zangoose 115
Seviper 100
Lunatone 55
Solrock 95
Barboach 48
Whiscash 78
Corphish 80
Crawdaunt 120
Baltoy 40
Claydol 70
Lileep 41
Cradily 81
Anorith 95
Armaldo 125
Feebas 15
Milotic 60
Castform 70
Kecleon 90
Shuppet 75
Banette 115
BanetteMega Banette 165
Duskull 40
Dusclops 70
Tropius 68
Chimecho 50
Absol 130
AbsolMega Absol 150
Wynaut 23
Snorunt 50
Glalie 80
GlalieMega Glalie 120
Spheal 40
Sealeo 60
Walrein 80
Clamperl 64
Huntail 104
Gorebyss 84
Relicanth 90
Luvdisc 30
Bagon 75
Shelgon 95
Salamence 135
SalamenceMega Salamence 145
Beldum 55
Metang 75
Metagross 135
MetagrossMega Metagross 145
Regirock 100
Regice 50
Registeel 75
Latias 80
LatiasMega Latias 100
Latios 90
LatiosMega Latios 130
Kyogre 100
KyogrePrimal Kyogre 150
Groudon 150
GroudonPrimal Groudon 180
Rayquaza 150
RayquazaMega Rayquaza 180
Jirachi 100
DeoxysNormal Forme 150
DeoxysAttack Forme 180
DeoxysDefense Forme 70
DeoxysSpeed Forme 95
Turtwig 68
Grotle 89
Torterra 109
Chimchar 58
Monferno 78
Infernape 104
Piplup 51
Prinplup 66
Empoleon 86
Starly 55
Staravia 75
Staraptor 120
Bidoof 45
Bibarel 85
Kricketot 25
Kricketune 85
Shinx 65
Luxio 85
Luxray 120
Budew 30
Roserade 70
Cranidos 125
Rampardos 165
Shieldon 42
Bastiodon 52
Burmy 29
WormadamPlant Cloak 59
WormadamSandy Cloak 79
WormadamTrash Cloak 69
Mothim 94
Combee 30
Vespiquen 80
Pachirisu 45
Buizel 65
Floatzel 105
Cherubi 35
Cherrim 60
Shellos 48
Gastrodon 83
Ambipom 100
Drifloon 50
Drifblim 80
Buneary 66
Lopunny 76
LopunnyMega Lopunny 136
Mismagius 60
Honchkrow 125
Glameow 55
Purugly 82
Chingling 30
Stunky 63
Skuntank 93
Bronzor 24
Bronzong 89
Bonsly 80
Mime Jr. 25
Happiny 5
Chatot 65
Spiritomb 92
Gible 70
Gabite 90
Garchomp 130
GarchompMega Garchomp 170
Munchlax 85
Riolu 70
Lucario 110
LucarioMega Lucario 145
Hippopotas 72
Hippowdon 112
Skorupi 50
Drapion 90
Croagunk 61
Toxicroak 106
Carnivine 100
Finneon 49
Lumineon 69
Mantyke 20
Snover 62
Abomasnow 92
AbomasnowMega Abomasnow 132
Weavile 120
Magnezone 70
Lickilicky 85
Rhyperior 140
Tangrowth 100
Electivire 123
Magmortar 95
Togekiss 50
Yanmega 76
Leafeon 110
Glaceon 60
Gliscor 95
Mamoswine 130
Porygon-Z 80
Gallade 125
GalladeMega Gallade 165
Probopass 55
Dusknoir 100
Froslass 80
Rotom 50
RotomHeat Rotom 65
RotomWash Rotom 65
RotomFrost Rotom 65
RotomFan Rotom 65
RotomMow Rotom 65
Uxie 75
Mesprit 105
Azelf 125
Dialga 120
Palkia 120
Heatran 90
Regigigas 160
GiratinaAltered Forme 100
GiratinaOrigin Forme 120
Cresselia 70
Phione 80
Manaphy 100
Darkrai 90
ShayminLand Forme 100
ShayminSky Forme 103
Arceus 120
Victini 100
Snivy 45
Servine 60
Serperior 75
Tepig 63
Pignite 93
Emboar 123
Oshawott 55
Dewott 75
Samurott 100
Patrat 55
Watchog 85
Lillipup 60
Herdier 80
Stoutland 110
Purrloin 50
Liepard 88
Pansage 53
Simisage 98
Pansear 53
Simisear 98
Panpour 53
Simipour 98
Munna 25
Musharna 55
Pidove 55
Tranquill 77
Unfezant 115
Blitzle 60
Zebstrika 100
Roggenrola 75
Boldore 105
Gigalith 135
Woobat 45
Swoobat 57
Drilbur 85
Excadrill 135
Audino 60
AudinoMega Audino 60
Timburr 80
Gurdurr 105
Conkeldurr 140
Tympole 50
Palpitoad 65
Seismitoad 95
Throh 100
Sawk 125
Sewaddle 53
Swadloon 63
Leavanny 103
Venipede 45
Whirlipede 55
Scolipede 100
Cottonee 27
Whimsicott 67
Petilil 35
Lilligant 60
Basculin 92
Sandile 72
Krokorok 82
Krookodile 117
Darumaka 90
DarmanitanStandard Mode 140
DarmanitanZen Mode 30
Maractus 86
Dwebble 65
Crustle 95
Scraggy 75
Scrafty 90
Sigilyph 58
Yamask 30
Cofagrigus 50
Tirtouga 78
Carracosta 108
Archen 112
Archeops 140
Trubbish 50
Garbodor 95
Zorua 65
Zoroark 105
Minccino 50
Cinccino 95
Gothita 30
Gothorita 45
Gothitelle 55
Solosis 30
Duosion 40
Reuniclus 65
Ducklett 44
Swanna 87
Vanillite 50
Vanillish 65
Vanilluxe 95
Deerling 60
Sawsbuck 100
Emolga 75
Karrablast 75
Escavalier 135
Foongus 55
Amoonguss 85
Frillish 40
Jellicent 60
Alomomola 75
Joltik 47
Galvantula 77
Ferroseed 50
Ferrothorn 94
Klink 55
Klang 80
Klinklang 100
Tynamo 55
Eelektrik 85
Eelektross 115
Elgyem 55
Beheeyem 75
Litwick 30
Lampent 40
Chandelure 55
Axew 87
Fraxure 117
Haxorus 147
Cubchoo 70
Beartic 110
Cryogonal 50
Shelmet 40
Accelgor 70
Stunfisk 66
Mienfoo 85
Mienshao 125
Druddigon 120
Golett 74
Golurk 124
Pawniard 85
Bisharp 125
Bouffalant 110
Rufflet 83
Braviary 123
Vullaby 55
Mandibuzz 65
Heatmor 97
Durant 109
Deino 65
Zweilous 85
Hydreigon 105
Larvesta 85
Volcarona 60
Cobalion 90
Terrakion 129
Virizion 90
TornadusIncarnate Forme 115
TornadusTherian Forme 100
ThundurusIncarnate Forme 115
ThundurusTherian Forme 105
Reshiram 120
Zekrom 150
LandorusIncarnate Forme 125
LandorusTherian Forme 145
Kyurem 130
KyuremBlack Kyurem 170
KyuremWhite Kyurem 120
KeldeoOrdinary Forme 72
KeldeoResolute Forme 72
MeloettaAria Forme 77
MeloettaPirouette Forme 128
Genesect 120
Chespin 61
Quilladin 78
Chesnaught 107
Fennekin 45
Braixen 59
Delphox 69
Froakie 56
Frogadier 63
Greninja 95
Bunnelby 36
Diggersby 56
Fletchling 50
Fletchinder 73
Talonflame 81
Scatterbug 35
Spewpa 22
Vivillon 52
Litleo 50
Pyroar 68
Flabébé 38
Floette 45
Florges 65
Skiddo 65
Gogoat 100
Pancham 82
Pangoro 124
Furfrou 80
Espurr 48
MeowsticMale 48
MeowsticFemale 48
Honedge 80
Doublade 110
AegislashBlade Forme 150
AegislashShield Forme 50
Spritzee 52
Aromatisse 72
Swirlix 48
Slurpuff 80
Inkay 54
Malamar 92
Binacle 52
Barbaracle 105
Skrelp 60
Dragalge 75
Clauncher 53
Clawitzer 73
Helioptile 38
Heliolisk 55
Tyrunt 89
Tyrantrum 121
Amaura 59
Aurorus 77
Sylveon 65
Hawlucha 92
Dedenne 58
Carbink 50
Goomy 50
Sliggoo 75
Goodra 100
Klefki 80
Phantump 70
Trevenant 110
PumpkabooAverage Size 66
PumpkabooSmall Size 66
PumpkabooLarge Size 66
PumpkabooSuper Size 66
GourgeistAverage Size 90
GourgeistSmall Size 85
GourgeistLarge Size 95
GourgeistSuper Size 100
Bergmite 69
Avalugg 117
Noibat 30
Noivern 70
Xerneas 131
Yveltal 131
Zygarde50% Forme 100
Diancie 100
DiancieMega Diancie 160
HoopaHoopa Confined 110
HoopaHoopa Unbound 160
Volcanion 110

In [ ]:
print(poke.iloc[0:4])

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False

##**returning row using iloc**

In [ ]:
print(poke.iloc[0,4])

318

In [ ]:
updated_poke=print(poke.loc[poke['Type 1'] == 'Fire'])
updated_poke

       #                       Name Type 1    Type 2  Total   HP  Attack  \
4      4                 Charmander   Fire       NaN    309   39      52
5      5                 Charmeleon   Fire       NaN    405   58      64
6      6                  Charizard   Fire    Flying    534   78      84
7      6  CharizardMega Charizard X   Fire    Dragon    634   78     130
8      6  CharizardMega Charizard Y   Fire    Flying    634   78     104
42    37                     Vulpix   Fire       NaN    299   38      41
43    38                  Ninetales   Fire       NaN    505   73      76
63    58                  Growlithe   Fire       NaN    350   55      70
64    59                   Arcanine   Fire       NaN    555   90     110
83    77                     Ponyta   Fire       NaN    410   50      85
84    78                   Rapidash   Fire       NaN    500   65     100
135  126                     Magmar   Fire       NaN    495   65      95
147  136                    Flareon   Fire       NaN    525   65     130
158  146                    Moltres   Fire    Flying    580   90     100
169  155                  Cyndaquil   Fire       NaN    309   39      52
170  156                    Quilava   Fire       NaN    405   58      64
171  157                 Typhlosion   Fire       NaN    534   78      84
236  218                     Slugma   Fire       NaN    250   40      40
237  219                   Magcargo   Fire      Rock    410   50      50
259  240                      Magby   Fire       NaN    365   45      75
263  244                      Entei   Fire       NaN    580  115     115
270  250                      Ho-oh   Fire    Flying    680  106     130
276  255                    Torchic   Fire       NaN    310   45      60
277  256                  Combusken   Fire  Fighting    405   60      85
278  257                   Blaziken   Fire  Fighting    530   80     120
279  257      BlazikenMega Blaziken   Fire  Fighting    630   80     160
352  322                      Numel   Fire    Ground    305   60      60
353  323                   Camerupt   Fire    Ground    460   70     100
354  323      CameruptMega Camerupt   Fire    Ground    560   70     120
355  324                    Torkoal   Fire       NaN    470   70      85
435  390                   Chimchar   Fire       NaN    309   44      58
436  391                   Monferno   Fire  Fighting    405   64      78
437  392                  Infernape   Fire  Fighting    534   76     104
518  467                  Magmortar   Fire       NaN    540   75      95
542  485                    Heatran   Fire     Steel    600   91      90
557  498                      Tepig   Fire       NaN    308   65      63
558  499                    Pignite   Fire  Fighting    418   90      93
559  500                     Emboar   Fire  Fighting    528  110     123
572  513                    Pansear   Fire       NaN    316   50      53
573  514                   Simisear   Fire       NaN    498   75      98
614  554                   Darumaka   Fire       NaN    315   70      90
615  555    DarmanitanStandard Mode   Fire       NaN    480  105     140
616  555         DarmanitanZen Mode   Fire   Psychic    540  105      30
692  631                    Heatmor   Fire       NaN    484   85      97
721  653                   Fennekin   Fire       NaN    307   40      45
722  654                    Braixen   Fire       NaN    409   59      59
723  655                    Delphox   Fire   Psychic    534   75      69
730  662                Fletchinder   Fire    Flying    382   62      73
731  663                 Talonflame   Fire    Flying    499   78      81
735  667                     Litleo   Fire    Normal    369   62      50
736  668                     Pyroar   Fire    Normal    507   86      68
799  721                  Volcanion   Fire     Water    600   80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
4         43       60       50     65           1      False
5         58       80       65     80           1      False
6         78      109       85    100           1      False
7        111      130       85    100           1      False
8         78      159      115    100           1      False
42        40       50       65     65           1      False
43        75       81      100    100           1      False
63        45       70       50     60           1      False
64        80      100       80     95           1      False
83        55       65       65     90           1      False
84        70       80       80    105           1      False
135       57      100       85     93           1      False
147       60       95      110     65           1      False
158       90      125       85     90           1       True
169       43       60       50     65           2      False
170       58       80       65     80           2      False
171       78      109       85    100           2      False
236       40       70       40     20           2      False
237      120       80       80     30           2      False
259       37       70       55     83           2      False
263       85       90       75    100           2       True
270       90      110      154     90           2       True
276       40       70       50     45           3      False
277       60       85       60     55           3      False
278       70      110       70     80           3      False
279       80      130       80    100           3      False
352       40       65       45     35           3      False
353       70      105       75     40           3      False
354      100      145      105     20           3      False
355      140       85       70     20           3      False
435       44       58       44     61           4      False
436       52       78       52     81           4      False
437       71      104       71    108           4      False
518       67      125       95     83           4      False
542      106      130      106     77           4       True
557       45       45       45     45           5      False
558       55       70       55     55           5      False
559       65      100       65     65           5      False
572       48       53       48     64           5      False
573       63       98       63    101           5      False
614       45       15       45     50           5      False
615       55       30       55     95           5      False
616      105      140      105     55           5      False
692       66      105       66     65           5      False
721       40       62       60     60           6      False
722       58       90       70     73           6      False
723       72      114      100    104           6      False
730       55       56       52     84           6      False
731       71       74       69    126           6      False
735       58       73       54     72           6      False
736       72      109       66    106           6      False
799      120      130       90     70           6       True

In [ ]:
old_poke=poke
old_poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

##**descring the whole data**

In [ ]:
poke.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

##**sorting the data based on their name and hp value**

In [ ]:
yab=poke.sort_values(['Name','HP'],ascending=[0,1])
yab.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False

##**adding new column total which is a sum of 'hp' and 'defese'**

change on the data

In [ ]:
poke["total"] = poke["HP"] + poke["Defense"]
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,94
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,123
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,163
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,203
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,160
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,140
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,140
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,200

In [ ]:
poke.total

0       94
1      123
2      163
3      203
4       82
      ...
795    200
796    160
797    140
798    140
799    200
Name: total, Length: 800, dtype: int64

##**return total**

In [ ]:
poke.drop(columns=['total'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
poke.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total,hola,mother_fucker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,94,526,526
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,123,670,670
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,163,870,870

##**Adding new column**

In [ ]:
poke['mother_fucker'] = poke.iloc[:,4:9].sum(axis=1)
poke.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,total,hola,mother_fucker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,94,526,526
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,123,670,670
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,163,870,870

In [ ]:
cols=list(poke.columns)
poke=poke[cols[0:4]+[cols[-1]]+cols[4:12]]
poke

,#,Name,Type 1,Type 2,Generation,mother_fucker,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,526,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,670,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,870,525,80,82,83,100,100,80
3,3,VenusaurMega Venusaur,Grass,Poison,1,1050,625,80,100,123,122,120,80
4,4,Charmander,Fire,NaN,1,503,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,6,1000,600,50,100,150,100,150,50
796,719,DiancieMega Diancie,Rock,Fairy,6,1180,700,50,160,110,160,110,110
797,720,HoopaHoopa Confined,Psychic,Ghost,6,1000,600,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,6,1150,680,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,6,1040,600,80,110,120,130,90,70

##**logical operator**

***saving ourdata(exporting into desired format)**

In [ ]:
# poke.to_csv('modified.csv', index=False)
poke.to_excel("modified.xlsx",index=False)

In [ ]:
print(poke.loc[(poke['Type 1']=='Grass') & (poke['Type 2'] == 'Poison')])

       #                   Name Type 1  Type 2  Generation  mother_fucker  \
0      1              Bulbasaur  Grass  Poison           1            526
1      2                Ivysaur  Grass  Poison           1            670
2      3               Venusaur  Grass  Poison           1            870
3      3  VenusaurMega Venusaur  Grass  Poison           1           1050
48    43                 Oddish  Grass  Poison           1            545
49    44                  Gloom  Grass  Poison           1            675
50    45              Vileplume  Grass  Poison           1            840
75    69             Bellsprout  Grass  Poison           1            530
76    70             Weepinbell  Grass  Poison           1            680
77    71             Victreebel  Grass  Poison           1            840
344  315                Roselia  Grass  Poison           3            655
451  406                  Budew  Grass  Poison           4            435
452  407               Roserade  Grass  Poison           4            835
651  590                Foongus  Grass  Poison           5            518
652  591              Amoonguss  Grass  Poison           5            818

     Total   HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0      318   45      49       49       65       65     45
1      405   60      62       63       80       80     60
2      525   80      82       83      100      100     80
3      625   80     100      123      122      120     80
48     320   45      50       55       75       65     30
49     395   60      65       70       85       75     40
50     490   75      80       85      110       90     50
75     300   50      75       35       70       30     40
76     390   65      90       50       85       45     55
77     490   80     105       65      100       70     70
344    400   50      60       45      100       80     65
451    280   40      30       35       50       70     55
452    515   60      70       65      125      105     90
651    294   69      55       45       55       55     15
652    464  114      85       70       85       80     30

### **reseting index**

1.   **use drop=true to drop the old index**
2. **if not ,both new and old index will display**

##**without old index**

In [ ]:
new_df = poke.loc[(poke['Name']=='Oddish') | (poke['Name']=='Budew')]
new_df = new_df.reset_index(drop=True ,inplace=False)
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
1,406,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False

##**with old index**

In [ ]:
new_df = poke.loc[(poke['Name']=='Oddish') | (poke['Name']=='Budew')]
new_df=new_df.reset_index(drop=False)
new_df

,index,#,Name,Type 1,Type 2,Generation,mother_fucker,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,48,43,Oddish,Grass,Poison,1,545,320,45,50,55,75,65,30
1,451,406,Budew,Grass,Poison,4,435,280,40,30,35,50,70,55

##**returnig all person with name mega using contain function**

In [ ]:
poke.loc[poke['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Generation,mother_fucker,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,526,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,670,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,870,525,80,82,83,100,100,80
4,4,Charmander,Fire,NaN,1,503,309,39,52,43,60,50,65
5,5,Charmeleon,Fire,NaN,1,665,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,6,1010,600,108,100,121,81,95,95
795,719,Diancie,Rock,Fairy,6,1000,600,50,100,150,100,150,50
797,720,HoopaHoopa Confined,Psychic,Ghost,6,1000,600,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,6,1150,680,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,6,1040,600,80,110,120,130,90,70

##**returning all persons with a name rather than mega**

In [ ]:
poke.loc[~poke['Name'].str.contains('Mega')]

,#,Name,Type 1,Type 2,Generation,mother_fucker,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass,Poison,1,526,318,45,49,49,65,65,45
1,2,Ivysaur,Grass,Poison,1,670,405,60,62,63,80,80,60
2,3,Venusaur,Grass,Poison,1,870,525,80,82,83,100,100,80
4,4,Charmander,Fire,NaN,1,503,309,39,52,43,60,50,65
5,5,Charmeleon,Fire,NaN,1,665,405,58,64,58,80,65,80
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,6,1010,600,108,100,121,81,95,95
795,719,Diancie,Rock,Fairy,6,1000,600,50,100,150,100,150,50
797,720,HoopaHoopa Confined,Psychic,Ghost,6,1000,600,80,110,60,150,130,70
798,720,HoopaHoopa Unbound,Psychic,Dark,6,1150,680,80,160,60,170,130,80
799,721,Volcanion,Fire,Water,6,1040,600,80,110,120,130,90,70

##**working using regex**

1.   **using flag=re.I to ignore cases**

In [ ]:
import re
poke.loc[poke['Type 1'].str.contains('grass|poison' , flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
28,23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
761,691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False

In [ ]:

poke.loc[poke['Name'].str.contains('pi[A-Z]*' , flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
42,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
84,78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
181,167,Spinarak,Bug,Poison,250,40,60,40,40,40,30,2,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
189,175,Togepi,Fairy,NaN,245,35,20,65,40,65,20,2,False
202,187,Hoppip,Grass,Flying,250,35,35,40,35,55,50,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
266,247,Pupitar,Rock,Ground,410,70,84,70,65,70,51,2,False
345,316,Gulpin,Poison,NaN,302,70,43,53,43,53,40,3,False
357,326,Grumpig,Psychic,NaN,470,80,45,65,90,110,80,3,False
358,327,Spinda,Normal,NaN,360,60,60,60,60,60,60,3,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
390,357,Tropius,Grass,Flying,460,99,68,83,72,87,51,3,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
463,416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
488,440,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False
490,442,Spiritomb,Ghost,Dark,485,50,92,108,92,108,35,4,False
501,451,Skorupi,Poison,Bug,330,40,50,90,30,55,65,4,False
502,452,Drapion,Poison,Dark,500,70,90,110,60,75,95,4,False
557,498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False
596,536,Palpitoad,Water,Ground,384,75,65,55,65,55,69,5,False
716,648,MeloettaPirouette Forme,Normal,Fighting,600,100,128,90,77,77,128,5,False
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False

In [ ]:
poke.loc[poke['Name'].str.contains('[^hap]+' ,flags=False ,regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

###**conditional change**
##**changing  the value of legendary to true for a row with a value of fire on type 1 attribute**

In [ ]:
poke.loc[poke['Type 1']=='Fire','Legendary']=True
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
poke.loc[poke['Total'] > 500 ,['Legendary,GEneration']]='testing _value'
poke

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,"Legendary,GEneration"
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,testing _value
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,testing _value
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,testing _value
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,testing _value
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,testing _value
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,testing _value
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,testing _value

In [ ]:
poke.groupby(['Type 1']).mean()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Type 1,,,,,,,,,,
Bug,334.492754,378.927536,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000
Dark,461.354839,445.741935,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516
Dragon,474.375000,550.531250,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000
Electric,363.500000,443.409091,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909
Fairy,449.529412,413.176471,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824
Fighting,363.851852,416.444444,69.851852,96.777778,65.925926,53.111111,64.703704,66.074074,3.370370,0.000000
Fire,327.403846,458.076923,69.903846,84.769231,67.769231,88.980769,72.211538,74.442308,3.211538,1.000000
Flying,677.750000,485.000000,70.750000,78.750000,66.250000,94.250000,72.500000,102.500000,5.500000,0.500000
Ghost,486.500000,439.562500,64.437500,73.781250,81.187500,79.343750,76.468750,64.343750,4.187500,0.062500
Grass,344.871429,421.142857,67.271429,73.214286,70.800000,77.500000,70.428571,61.928571,3.357143,0.042857
Ground,356.281250,437.500000,73.781250,95.750000,84.843750,56.468750,62.750000,63.906250,3.156250,0.125000
Ice,423.541667,433.458333,72.000000,72.750000,71.416667,77.541667,76.291667,63.458333,3.541667,0.083333
Normal,319.173469,401.683673,77.275510,73.469388,59.846939,55.816327,63.724490,71.551020,3.051020,0.020408
Poison,251.785714,399.142857,67.250000,74.678571,68.821429,60.428571,64.392857,63.571429,2.535714,0.000000
Psychic,380.807018,475.947368,70.631579,71.456140,67.684211,98.403509,86.280702,81.491228,3.385965,0.245614
Rock,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.090909
Steel,442.851852,487.703704,65.222222,92.703704,126.370370,67.518519,80.629630,55.259259,3.851852,0.148148
Water,303.089286,430.455357,72.062500,74.151786,72.946429,74.812500,70.517857,65.964286,2.857143,0.035714

##**finding the 30%, 50%, and 70% percentiles of the numeric columns in poke**

In [ ]:
poke.describe(percentiles=[0.3,0.5,0.7])

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
30%,221.700000,349.70000,55.000000,60.000000,55.000000,52.400000,55.000000,50.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
70%,500.300000,500.00000,79.000000,94.300000,85.000000,86.300000,85.000000,85.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

##**summarising  the data with only numeric value**

In [ ]:
poke.describe(include=[int])

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

##**installing polar package**

In [ ]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting polars
  Downloading polars-0.16.16-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 64.0 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions>=4.0.1 in /usr/local/lib/python3.9/dist-packages (from polars) (4.5.0)
Installing collected packages: polars
Successfully installed polars-0.16.16

##**working with polars**

In [ ]:
import polars as pl
import time

start = time.time()
df = pl.scan_csv('drive/My Drive/yab/flight_csv_file/flights.csv').filter(
        (pl.col('MONTH') == 12) &(pl.col('ORIGIN_AIRPORT') == 'SEA') &
        (pl.col('DESTINATION_AIRPORT') == 'DFW')).collect()
end = time.time()
print(end - start)
display(df)

16.961666584014893

shape: (319, 31)
┌──────┬───────┬─────┬─────────────┬───┬──────────────┬──────────────┬──────────────┬──────────────┐
│ YEAR ┆ MONTH ┆ DAY ┆ DAY_OF_WEEK ┆ … ┆ SECURITY_DEL ┆ AIRLINE_DELA ┆ LATE_AIRCRAF ┆ WEATHER_DELA │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ AY           ┆ Y            ┆ T_DELAY      ┆ Y            │
│ i64  ┆ i64   ┆ i64 ┆ i64         ┆   ┆ ---          ┆ ---          ┆ ---          ┆ ---          │
│      ┆       ┆     ┆             ┆   ┆ i64          ┆ i64          ┆ i64          ┆ i64          │
╞══════╪═══════╪═════╪═════════════╪═══╪══════════════╪══════════════╪══════════════╪══════════════╡
│ 2015 ┆ 12    ┆ 1   ┆ 2           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 1   ┆ 2           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 1   ┆ 2           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 1   ┆ 2           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ …    ┆ …     ┆ …   ┆ …           ┆ … ┆ …            ┆ …            ┆ …            ┆ …            │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
│ 2015 ┆ 12    ┆ 31  ┆ 4           ┆ … ┆ null         ┆ null         ┆ null         ┆ null         │
└──────┴───────┴─────┴─────────────┴───┴──────────────┴──────────────┴──────────────┴──────────────┘

In [ ]:

df=(
    pl.scan_csv('drive/My Drive/yab/flight_csv_file/flights.csv')
    .select(pl.col('SECURITY_DELAY').is_null().any())
    )

yab = df.collect()
yab

shape: (1, 1)
┌────────────────┐
│ SECURITY_DELAY │
│ ---            │
│ bool           │
╞════════════════╡
│ true           │
└────────────────┘

##**web_scrapping method to read data from websites on polar and panda respectively**

In [ ]:

yab=pl.read_csv('https://www.football-data.co.uk/mmz4281/2122/E0.csv')
yab

shape: (380, 106)
┌─────┬────────────┬───────┬────────────┬───┬─────────┬─────────┬─────────┬─────────┐
│ Div ┆ Date       ┆ Time  ┆ HomeTeam   ┆ … ┆ MaxCAHH ┆ MaxCAHA ┆ AvgCAHH ┆ AvgCAHA │
│ --- ┆ ---        ┆ ---   ┆ ---        ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str ┆ str        ┆ str   ┆ str        ┆   ┆ f64     ┆ f64     ┆ f64     ┆ f64     │
╞═════╪════════════╪═══════╪════════════╪═══╪═════════╪═════════╪═════════╪═════════╡
│ E0  ┆ 13/08/2021 ┆ 20:00 ┆ Brentford  ┆ … ┆ 2.05    ┆ 2.17    ┆ 1.8     ┆ 2.09    │
│ E0  ┆ 14/08/2021 ┆ 12:30 ┆ Man United ┆ … ┆ 2.19    ┆ 1.93    ┆ 2.1     ┆ 1.79    │
│ E0  ┆ 14/08/2021 ┆ 15:00 ┆ Burnley    ┆ … ┆ 1.82    ┆ 2.19    ┆ 1.79    ┆ 2.12    │
│ E0  ┆ 14/08/2021 ┆ 15:00 ┆ Chelsea    ┆ … ┆ 2.16    ┆ 1.93    ┆ 2.06    ┆ 1.82    │
│ …   ┆ …          ┆ …     ┆ …          ┆ … ┆ …       ┆ …       ┆ …       ┆ …       │
│ E0  ┆ 22/05/2022 ┆ 16:00 ┆ Leicester  ┆ … ┆ 1.94    ┆ 2.26    ┆ 1.87    ┆ 2.01    │
│ E0  ┆ 22/05/2022 ┆ 16:00 ┆ Liverpool  ┆ … ┆ 2.19    ┆ 1.99    ┆ 2.07    ┆ 1.8     │
│ E0  ┆ 22/05/2022 ┆ 16:00 ┆ Man City   ┆ … ┆ 2.09    ┆ 2.03    ┆ 2.01    ┆ 1.87    │
│ E0  ┆ 22/05/2022 ┆ 16:00 ┆ Norwich    ┆ … ┆ 2.16    ┆ 1.98    ┆ 1.99    ┆ 1.89    │
└─────┴────────────┴───────┴────────────┴───┴─────────┴─────────┴─────────┴─────────┘

In [ ]:
 pd.read_html('https://www.football-data.co.uk/mmz4281/2122/E0.csv') # we can,t scrap data from the website directely

ValueError: ignored

##**install two important libraries inorder work with polar efficiently**

In [ ]:
!pip install  lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (4.9.2)

In [ ]:
!pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.9/dist-packages (9.0.0)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.9/dist-packages (from pyarrow) (1.22.4)

##**install the pydot and graphviz packages**

In [ ]:
!pip install pydot

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pydot in /usr/local/lib/python3.9/dist-packages (1.4.2)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.9/dist-packages (from pydot) (3.0.9)

In [ ]:
!pip install graphviz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: graphviz in /usr/local/lib/python3.9/dist-packages (0.20.1)

##**read the first 5 rows using fetch()**

In [ ]:
yab = (pl.scan_csv('drive/My Drive/yab/flight_csv_file/airlines.csv')
)
yab.collect()
yab.fetch(5)

shape: (5, 2)
┌───────────┬────────────────────────┐
│ IATA_CODE ┆ AIRLINE                │
│ ---       ┆ ---                    │
│ str       ┆ str                    │
╞═══════════╪════════════════════════╡
│ UA        ┆ United Air Lines Inc.  │
│ AA        ┆ American Airlines Inc. │
│ US        ┆ US Airways Inc.        │
│ F9        ┆ Frontier Airlines Inc. │
│ B6        ┆ JetBlue Airways        │
└───────────┴────────────────────────┘

###** data scientists spend their most time doing: data cleansing. Data cleansing is the process of detecting and correcting corrupt values in your dataset. In real life, this seemingly simple process takes a lot of time as most of the data that you encounter is likely to contain missing values, incorrect values, or irrelevant values.**

All missing values in the CSV file will be loaded as null in the Polars DataFrame.